/* Text Color Change */
.go {
  color: green;
}
.stop {
  color: red;
}

/* Even or Odd */
.txt-line span {
  text-decoration: line-through;
}

.txt-color-red {
  color: red;
}

/* calculator */
button {
  background-color: white;
}

/* mouseevent */

.rect {
  width: 300px;
  height: 150px;
  background-color: antiquewhite;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: blueviolet;
  position: absolute;
}
